# Gradle
.gradle/
build/
**/build/

# Java compiled files
*.class
bin/
**/bin/

# Eclipse
.project
.classpath
.settings/
.factorypath

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db